<!DOCTYPE html>
<html  lang="ro">
    <head>
        <%- include("../fragmente/head.ejs") %>
        <meta name="description" content="Avem carti de toate genurile, de la romane fantasy pana la carti istorice. Avem si albume de la diversi artisti, rechizite, carti de joc. Comenzi online cu livrari in orice oras">
        <meta name="keywords" content="carti, papetarie, muzica, jocuri de societate, libraria Bookshelf Boutique, comenzi online">  
        <title>Libraria Bookshelf Boutique</title>
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" /> 
        <script type="text/javascript" src=/resurse/js/produse.js></script>

    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <!--<div class ="container">
            <div class = "row mb-2">
                <div class = "col-md-4">
                    <label>
                        Titlu: <form class="form-floating">
                            <textarea class = "form-control" id="inp-nume" placeholder="text"></textarea>
                            <label for="inp-nume">Introduceti titlul</label>
                        </form>
                    </label>
                </div>-->

                <!--<div class="container mt-5">-->
                <!--   <div class = "col-md-4">
                        <h4>Nr_pagini:</h4>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-primary">
                                <input type="radio" name="gr_rad" id="i_rad1" value="0:350"> Pentru lenesi (pagini &lt; 350)
                            </label>
                            <label class="btn btn-outline-primary">
                                <input type="radio" name="gr_rad" id="i_rad2" value="350:750"> Pentru cititori (350 &le; pagini &lt; 700)
                            </label>
                            <label class="btn btn-outline-primary">
                                <input type="radio" name="gr_rad" id="i_rad3" value="700:1000000000"> Pentru legende/intelectuali/nebuni (700 &le; pagini)
                            </label>
                            <label class="btn btn-outline-primary active">
                                <input type="radio" name="gr_rad" id="i_rad4" value="toate" checked> Toate
                            </label>
                        </div>
                    </div>-->
                <!--</div>-->
            <!--</div>-->
       <!-- </div>

        <div class = "container2">
            <div class = "row mb-3">
                <div class = "col-md-3">
                    <label> Pret minim: <input type="range" class = "form-range" id="inp-pret" value="0" min="0"  max="70"> <span id="infoRange">(0)</span></label>
                </div>

                <div class = "col-md-3">
                    <label>Select simplu:
                        <select id="inp-categorie">
                            <option id="sel-toate" selected value="toate">toate</option>
                           --> <!--Trebuie sa ii dam copy paste in header ejs la meniu pentru a lke face optiuni-->
                        <!--</select>
                    </label>
                </div>
            </div>
        </div> -->

        <div class="container">
            <div class="row row-cols-2">
                <div class = "col">
                    <label>
                        Titlu: <form class="form-floating">
                            <textarea class = "form-control" id="inp-nume" placeholder="text"></textarea>
                            <label for="inp-nume">Introduceti titlul</label>
                        </form>
                    </label>
                </div>

                <div class = "col">
                    <h4>Nr_pagini:</h4>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-primary">
                            <input type="radio" name="gr_rad" id="i_rad1" value="0:350"> Pentru lenesi (pagini &lt; 350)
                        </label>
                        <label class="btn btn-outline-primary">
                            <input type="radio" name="gr_rad" id="i_rad2" value="350:750"> Pentru cititori (350 &le; pagini &lt; 700)
                        </label>
                        <label class="btn btn-outline-primary">
                            <input type="radio" name="gr_rad" id="i_rad3" value="700:1000000000"> Pentru legende/intelectuali/nebuni (700 &le; pagini)
                        </label>
                        <label class="btn btn-outline-primary active">
                            <input type="radio" name="gr_rad" id="i_rad4" value="toate" checked> Toate
                        </label>
                    </div>
                </div>

                <div class = "col">
                    <label> Pret minim: <input type="range" class = "form-range" id="inp-pret" value="0" min="0"  max="70"> <span id="infoRange">(0)</span></label>
                </div>
                <div class = "col">
                    <label>Select simplu:
                        <select id="inp-categorie">
                            <option id="sel-toate" selected value="toate">toate</option>
                            <% for (let opt of locals.optiuni) { %>
                                <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                            <% } %> <!--Trebuie sa ii dam copy paste in header ejs la meniu pentru a lke face optiuni-->
                        </select>
                    </label>
                </div>
            </div>
        </div>
        
        <p>
        <button id="filtrare" class="btn btn-primary btn-lg">Filtreaza</button> 

        <button id="resetare" class="btn btn-primary btn-lg">Reseteaza</button><br/>
        <button id="sortCrescNume" class="btn btn-primary btn-lg">Sorteaza crescator dupa pret si nume</button>
        <button id="sortDescrescNume" class="btn btn-primary btn-lg">Sorteaza descrescator dupa pret si nume</button>
        
        </p>
        
        <p><div id="product-count">Numărul total de produse afișate: <span id="count">0</span></div></p>

        <p id="p-suma">Apăsați Alt+"c" pentru suma preturilor produselor afișate. </p>
        <section id="produse">
            <h2>Produse</h2>
            <div id="no-products-message" style="display: none;">Nu există produse conform filtrării curente</div>
            <div class="grid-produse">
                <% for( let prod of locals.produse) { %>
                        <article class="produs" >
                            <% if (prod.pret === locals.celMaiIeftinPeCategorie[prod.gen]) { %>
                                <div class = "banner-ieftin" >
                                    Cel mai ieftin din <%-prod.gen%>
                                </div>
                            <% } %>
                            <p><h3 class="nume"> <a href="/produs/<%-prod.id %>" ><span class="val-nume"><%- prod.titlu%></span></a></h3></p>
                            <figure>
                                <a href="/produs/<%-prod.id %>" ><img src="/resurse/imagini/produse/<%- prod.imagine %>" style="width:50%;height:auto;" alt="[imagine <%- prod.titlu %>]" /></a>
                            </figure></br>
                            <div class="info-prod">
                                <% if(prod.gen === ofertaCurenta.categorie) { %>
                                   <p class="pret">Pret vechi: <span class="val-pret"><s><%- prod.pret %></s></span></p>
                                    <p class="pret">Pret nou: <span class="val-pret"><%- (prod.pret * (1 - ofertaCurenta.reducere / 100)).toFixed(2) %></span></p>
                                <% } else { %>
                                    <p class="pret">Pret: <span class="val-pret"><%- prod.pret%></span></p>
                               <% } %>
                                <p class="nr_pagini">Pagini: <span class="val-calorii"><%- prod.nr_pagini%></span></p>
                                <p class="autor">Autor: <span class="val-gramaj"><%- prod.autor%></span></p>
                            </div>
                            <p class="categorie">Categorie:<span class="val-categorie"><%- prod.gen%></span></p></br>
                            
                        
                            <label class="selecteaza-cos">
                                Selectează:
                                <input type="checkbox" class="select-cos" value="<%-prod.id %>" autocomplete="off">
                            </label>
                        </article>
                <% }%>
            </div>
        </section>

        <div class="paginatie" aria-label="Page navigation">
            <ul class="pagination">
                <% for(let i = 1; i <= numarPagini; i++) { %>
                    <li class="page-item <%= i === paginaCurenta ? 'active' : '' %>">
                        <a class="page-link" href="/produse?pagina=<%= i %>"><%= i %></a>
                    </li>
                <% } %>
            </ul>
        </div>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>